{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap5 %}

<div>
<h3>Password Reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post" class="crispy-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="email">Email address:</label>
<input type="email" name="email" required class="form-control" style="width: 400px;">
  </div><br>
  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
</div>
{% endblock %}
