{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">

        <div class="card">
    <div class="card-body">
        <h2 class="text-center mb-4"><u>Update Profile</u></h2><br><br>
        <form method="post" enctype="multipart/form-data" id="profile-update-form">
            {% csrf_token %}
            {{form|crispy}}<br>
             <div>
			 	{% for message in messages %}
			 		<div class="text-warning mb-0" role="alert">
				 	<strong>{{message}}</strong>
					 </div>
			 		{% endfor %}
		 		</div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-warning" href="{% url 'project'  %}">cancel</a>
        </form>
        <div id="message-container"></div>
    </div>
</div>


    </div>
    <div class="col-2"></div>
</div>



{% endblock%}




