<!DOCTYPE html>
{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'project/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'project/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'project/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'project/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'project/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'project/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    	{% include "fancybox/fancybox_css.html" %}

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'project/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'project/images/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
<!--          <a class="sidebar-brand brand-logo" href=""><img src="{% static 'project/images/logo.svg" alt="logo' %}" /></a>-->
<!--          <a class="sidebar-brand brand-logo-mini" href=""><img src="{% static 'project/images/logo-mini.svg' %}"/></a>-->
        </div>
        <ul class="nav">

          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Projects</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                {% for form in data %}
                <li class="nav-item"> <a class="nav-link" href="{% url 'index' form.id %}"><h5>{{form.name}}</h5></a>
<!--                <a class="nav-link" href="{% url 'index' form.id %}"><h5>h</h5></a>-->
                </li>
                {% endfor%}
              </ul>
            </div>
          </li>


        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
<!--            <a class="navbar-brand brand-logo-mini" href=""><img src="{% static 'project/images/logo-mini.svg' %}" alt="logo" /></a>-->
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
<!--            <ul class="navbar-nav w-100">-->
<!--              <li class="nav-item w-100">-->
<!--                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">-->
<!--                  <input type="text" class="form-control" placeholder="Search products">-->
<!--                </form>-->
<!--              </li>-->
<!--            </ul>-->

            <ul class="navbar-nav navbar-nav-right">
<!--              <li class="nav-item dropdown d-none d-lg-block">-->
<!--                <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create New Project</a>-->
<!--                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">-->
<!--                  <h6 class="p-3 mb-0">Projects</h6>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <p class="p-3 mb-0 text-center">See all projects</p>-->
<!--                </div>-->
<!--              </li>-->
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                      <li class="nav-item dropdown hidden-caret">
                        <a  class="nav-link btn btn-success create-new-button" href="#" id="createbuttonDropdown" role="button" data-fancybox data-src="#addListForm">
                          + Create New Project
                        </a>

                        <ul class="dropdown-menu notif-box" aria-labelledby="createbuttonDropdown">
                          <li>
                            <div class="h-50 d-inline-block" id="addListForm" style="display:none;">
                              <div class="card-title text-center py-3">Add Project</div>
                                <form method="post" id="add-project-form">
                                    {% csrf_token %}
                                    {{form}}
                                    <button type="submit" class="btn btn-light btn-block waves-effect waves-light">Create Project</button>
                                    {% if form.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                {{ error }}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <div id="message-container"></div>
                    <script>
                      $(document).ready(function() {
                        $("[data-fancybox]").fancybox({
                          touch: false,
                          animationEffect: "zoom-in-out"
                        });
                      });
                    </script>



<!--              <li class="nav-item nav-settings d-none d-lg-block">-->
<!--                <a class="nav-link" href="#">-->
<!--                  <i class="mdi mdi-view-grid"></i>-->
<!--                </a>-->
<!--              </li>-->

              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    {% if user.photo %}
                    <img class="img-xs rounded-circle" src={{user.photo.url}} alt="">
                    {% else %}
                    <img class="img-xs rounded-circle" src="{% static 'assets/img/default.jpg' %}" alt="">
                      {% endif %}
                      <p class="mb-0 d-none d-sm-block navbar-profile-name">{{request.user}}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <center><h4 class="p-3 mb-0">Profile</h4></center>
<!--                  <div class="dropdown-divider"></div>-->
                  <a class="dropdown-item preview-item">
<!--                    <div class="preview-thumbnail">-->
<!--                      <div class="preview-icon bg-dark rounded-circle">-->
<!--&lt;!&ndash;                        <i class="mdi mdi-settings text-success"></i>&ndash;&gt;-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="preview-item-content">-->
<!--                        <center><a href="{% url 'profile_update' request.user.id %}">UPDATE</a></center><br><br><br><br>-->
<!--                    </div>-->
                  </a>
<!--                  <div class="dropdown-divider"></div>-->
<!--                  <a class="dropdown-item preview-item">-->
<!--                    <div class="preview-thumbnail">-->
<!--                      <div class="preview-icon bg-dark rounded-circle">-->
<!--                        <i class="mdi mdi-logout text-danger"></i>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="preview-item-content">-->
<!--                        {% if user.is_authenticated %}-->
<!--                        <center><a href="{% url 'log_out' %}">Logout</a></center><br><br><br><br>-->
<!--                        {% endif %}-->
<!--                    </div>-->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'profile_update' request.user.id %}"><i class="fa fa-power-off"></i> Update Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'log_out' %}"><i class="fa fa-power-off"></i> Logout</a>
                  </a>
                  <div class="dropdown-divider"></div>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">

            </div>
                <!--&lt;!&ndash;-->

<!--              -->

<!--            <div class="row ">-->
<!--              <div class="col-12 grid-margin">-->
<!--                <div class="card">-->
<!--                  <div class="card-body">-->
<!--                    <h4 class="card-title">Order Status</h4>-->
<!--                    <div class="table-responsive">-->
<!--                      <table class="table">-->
<!--                        <thead>-->
<!--                          <tr>-->
<!--                            <th>-->
<!--                              <div class="form-check form-check-muted m-0">-->
<!--                                <label class="form-check-label">-->
<!--                                  <input type="checkbox" class="form-check-input">-->
<!--                                </label>-->
<!--                              </div>-->
<!--                            </th>-->
<!--                            <th> Client Name </th>-->
<!--                            <th> Order No </th>-->
<!--                            <th> Product Cost </th>-->
<!--                            <th> Project </th>-->
<!--                            <th> Payment Mode </th>-->
<!--                            <th> Start Date </th>-->
<!--                            <th> Payment Status </th>-->
<!--                          </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                          <tr>-->
<!--                            <td>-->
<!--                              <div class="form-check form-check-muted m-0">-->
<!--                                <label class="form-check-label">-->
<!--                                  <input type="checkbox" class="form-check-input">-->
<!--                                </label>-->
<!--                              </div>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                              <img src="project/images/faces/face1.jpg" alt="image" />-->
<!--                              <span class="pl-2">Henry Klein</span>-->
<!--                            </td>-->
<!--                            <td> 02312 </td>-->
<!--                            <td> $14,500 </td>-->
<!--                            <td> Dashboard </td>-->
<!--                            <td> Credit card </td>-->
<!--                            <td> 04 Dec 2019 </td>-->
<!--                            <td>-->
<!--                              <div class="badge badge-outline-success">Approved</div>-->
<!--                            </td>-->
<!--                          </tr>-->
<!--                          <tr>-->
<!--                            <td>-->
<!--                              <div class="form-check form-check-muted m-0">-->
<!--                                <label class="form-check-label">-->
<!--                                  <input type="checkbox" class="form-check-input">-->
<!--                                </label>-->
<!--                              </div>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                              <img src="{% static 'project/images/faces/face2.jpg' %}" alt="image" />-->
<!--                              <span class="pl-2">Estella Bryan</span>-->
<!--                            </td>-->
<!--                            <td> 02312 </td>-->
<!--                            <td> $14,500 </td>-->
<!--                            <td> Website </td>-->
<!--                            <td> Cash on delivered </td>-->
<!--                            <td> 04 Dec 2019 </td>-->
<!--                            <td>-->
<!--                              <div class="badge badge-outline-warning">Pending</div>-->
<!--                            </td>-->
<!--                          </tr>-->
<!--                          <tr>-->
<!--                            <td>-->
<!--                              <div class="form-check form-check-muted m-0">-->
<!--                                <label class="form-check-label">-->
<!--                                  <input type="checkbox" class="form-check-input">-->
<!--                                </label>-->
<!--                              </div>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                              <img src="{% static 'project/images/faces/face5.jpg' %}" alt="image" />-->
<!--                              <span class="pl-2">Lucy Abbott</span>-->
<!--                            </td>-->
<!--                            <td> 02312 </td>-->
<!--                            <td> $14,500 </td>-->
<!--                            <td> App design </td>-->
<!--                            <td> Credit card </td>-->
<!--                            <td> 04 Dec 2019 </td>-->
<!--                            <td>-->
<!--                              <div class="badge badge-outline-danger">Rejected</div>-->
<!--                            </td>-->
<!--                          </tr>-->
<!--                          <tr>-->
<!--                            <td>-->
<!--                              <div class="form-check form-check-muted m-0">-->
<!--                                <label class="form-check-label">-->
<!--                                  <input type="checkbox" class="form-check-input">-->
<!--                                </label>-->
<!--                              </div>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                              <img src="{% static 'project/images/faces/face3.jpg' %}" alt="image" />-->
<!--                              <span class="pl-2">Peter Gill</span>-->
<!--                            </td>-->
<!--                            <td> 02312 </td>-->
<!--                            <td> $14,500 </td>-->
<!--                            <td> Development </td>-->
<!--                            <td> Online Payment </td>-->
<!--                            <td> 04 Dec 2019 </td>-->
<!--                            <td>-->
<!--                              <div class="badge badge-outline-success">Approved</div>-->
<!--                            </td>-->
<!--                          </tr>-->
<!--                          <tr>-->
<!--                            <td>-->
<!--                              <div class="form-check form-check-muted m-0">-->
<!--                                <label class="form-check-label">-->
<!--                                  <input type="checkbox" class="form-check-input">-->
<!--                                </label>-->
<!--                              </div>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                              <img src="{% static 'project/images/faces/face4.jpg' %}" alt="image" />-->
<!--                              <span class="pl-2">Sallie Reyes</span>-->
<!--                            </td>-->
<!--                            <td> 02312 </td>-->
<!--                            <td> $14,500 </td>-->
<!--                            <td> Website </td>-->
<!--                            <td> Credit card </td>-->
<!--                            <td> 04 Dec 2019 </td>-->
<!--                            <td>-->
<!--                              <div class="badge badge-outline-success">Approved</div>-->
<!--                            </td>-->
<!--                          </tr>-->
<!--                        </tbody>-->
<!--                      </table>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            </div>-->
{% include "fancybox/fancybox_js.html" %}

          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank"></a></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'project/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'project/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'project/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'project/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'project/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'project/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'project/js/off-canvas.js' %}"></script>
    <script src="{% static 'project/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'project/js/misc.js' %}"></script>
    <script src="{% static 'project/js/settings.js' %}"></script>
    <script src="{% static 'project/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'project/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
<style>


#addListForm {
  background-color: #f2f2f2;
  padding: 20px;
  color: black;
  min-height: 200px;
  max-width: 350px;
  width: 90%;
}

.form-label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
  border-color: #005cbf;
}
form label,
form input,
form select,
form textarea {
  color: #333; /* replace with desired color value */
}
</style>
  </body>
</html>